{
	"plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "presets": [
    ["@babel/preset-env", {
    	"modules": "cjs",
      "targets": {
        "browsers": ["last 2 versions", ">1%"],
        "node": ">4"
      }
    }]
  ]
}
